build --strategy=TypeScriptCompile=worker
build --strategy=AngularTemplateCompile=worker

build --symlink_prefix=dist/

build --define=angular_ivy_enabled=True

build --extra_toolchains=@rules_python//python:autodetecting_toolchain_nonstrict